#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
#include <dt-bindings/led/led.h>

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;

        row-gpios
            = <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            ;

        col-gpios
            = <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <2>;    // Now corresponds to row-gpios
        columns = <2>; // Now corresponds to col-gpios
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
    };

    led_strip: ws2812 {
        compatible = "worldsemi,ws2812-gpio";
        in-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        chain-length = <1>;                  // Total number of SK6812 LEDs
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
        status = "okay";
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
        zmk,underglow = &led_strip;
    };
};


    // led_strip: ws2812 {
    //     compatible = "worldsemi,ws2812-gpio";
    //     gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
    //     chain-length = <1>;                   // Number of LEDs in the chain
    //     color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    // };
    //
    // chosen {
    //     zmk,kscan = &kscan0;
    //     zmk,physical-layout = &physical_layout0;
    //     zmk,underglow = &led_strip;
    // };
